<mat-card class="container">
  <h1>Log In</h1>
  <form [formGroup]="form" (submit)="onSubmit()" class="example-form">  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.controls['email'].errors">
        {{form.controls['email'].errors['error']}}
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.controls['password'].errors">
        {{form.controls['password'].errors['error']}}
      </mat-error>
    </mat-form-field>
    <mat-error class="mb-20" *ngIf="form.errors">
      {{form.errors['error']}}
    </mat-error>

    <div class="mb-20">
      <a routerLink="/register">To register page</a>
    </div>
  
    <button [disabled]="isSubmitting" type="submit" mat-raised-button color="primary">Sign Up</button>
  </form>
</mat-card>
